.mobile-view {
    width: 100vw;
    height: 100vh;

    background-color: black;
    overflow: hidden;

    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;

    font-size: 1.5rem;
}

.mobile-container {
    width: 90%;
}